<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>      
    <add key="endCodeLines" value="-1" />
    <add key="endCode" value="; End Print Session {S}" />
    <add key="startCodeLines" value="-1" />
    <add key="startCode" value="; Resume Print Via Session {S}|G1 X0 Y0 Z{H}" />
    <add key="backupMode" value="1" />
  </appSettings>
</configuration>